@charset "utf-8";
//主颜色
$mc1: #E71F29;
$mc2: #3F58BC;
$mc3: #2B78DC;
$mco1: rgba(43, 120, 220, .8);
$mco2: rgba(231, 31, 41, .8);
//字体颜色
$fc1: #333;
$fc2: #666;
$fc3: #999;
// 灰色背景值
$hc1: #ccc; //bodr
$hc2: #e5e5e5; // 90
$hc3: #f2f2f2; // 95

$bc1: #e5e5e5;

$white: #fff;
$white-6: rgba(255,255,255,.6);
$white-5: rgba(255,255,255,.5);

$black: #000;
$black-8: rgba(0,0,0,.8);
$black-6: rgba(0,0,0,.6);