.btn-arrow {
  position: relative;
  width: 50px;
  height: 8px;
  transition: 300ms; }
  .btn-arrow:before, .btn-arrow:after {
    content: "";
    position: absolute;
    transition: 300ms; }
  .btn-arrow:before {
    background: #ccc; }
  .btn-arrow:after {
    width: 0;
    height: 0;
    color: #ccc; }

.btn-arrow-left:before, .btn-arrow-left:after, .btn-arrow-right:before, .btn-arrow-right:after {
  bottom: 0; }

.btn-arrow-left:before, .btn-arrow-right:before {
  height: 1px; }

.btn-arrow-left:after, .btn-arrow-right:after {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 8px solid; }

.btn-arrow-right:after {
  right: 0; }

.btn-arrow-right:before {
  left: 0;
  right: 1px; }

.btn-arrow-left:after {
  left: 0; }

.btn-arrow-left:before {
  left: 1px;
  right: 0; }

.btn-arrow-bottom, .btn-arrow-top {
  width: 8px;
  height: 140px; }
  .btn-arrow-bottom:before, .btn-arrow-bottom:after, .btn-arrow-top:before, .btn-arrow-top:after {
    left: 0; }
  .btn-arrow-bottom:before, .btn-arrow-top:before {
    width: 1px; }
  .btn-arrow-bottom:after, .btn-arrow-top:after {
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 8px solid; }

.btn-arrow-top:before {
  bottom: 0;
  top: 1px; }

.btn-arrow-top:after {
  top: 0; }

.btn-arrow-bottom:before {
  top: 0;
  bottom: 1px; }

.btn-arrow-bottom:after {
  bottom: 0; }

.btn-more {
  width: 250px;
  height: 54px;
  border: 1px solid #e5e5e5;
  text-align: center;
  line-height: 52px;
  font-size: 16px;
  font-family: 'DINRegular';
  color: #e5e5e5;
  transition: 300ms; }
  .btn-more .btn-arrow {
    margin: 0 0 22px 25px; }
    .btn-more .btn-arrow:before {
      background: #e5e5e5; }
    .btn-more .btn-arrow:after {
      color: #e5e5e5; }
  .btn-more.white {
    border-color: #fff;
    color: #fff; }
    .btn-more.white .btn-arrow:before {
      background: #fff; }
    .btn-more.white .btn-arrow:after {
      color: #fff; }

.btn-more-1 {
  width: 150px;
  height: 50px;
  line-height: 48px; }

.btn-more-2 {
  width: 210px;
  height: 50px;
  background: #E71F29;
  border-color: #E71F29;
  line-height: 48px;
  font-size: 12px;
  color: #fff; }
  .btn-more-2 .btn-arrow {
    width: 44px;
    height: 6px;
    margin-bottom: 21px; }
    .btn-more-2 .btn-arrow:before {
      background: #fff; }
    .btn-more-2 .btn-arrow:after {
      border-left-width: 6px;
      border-right-width: 6px;
      border-bottom-width: 6px;
      color: #fff; }

.btn-more-3 {
  background: #fff;
  border-color: #fff;
  color: #3F58BC; }
  @media screen and (max-width: 481px) {
    .btn-more-3 {
      width: 200px;
      height: 44px;
      line-height: 42px;
      font-size: 14px; } }

.btn-more-4 {
  color: #3F58BC; }
  @media screen and (max-width: 481px) {
    .btn-more-4 {
      width: 200px;
      height: 44px;
      line-height: 42px;
      font-size: 14px; } }

@media screen and (min-width: 1025px) {
  .btn-more-hover:hover .btn-more {
    background: #E71F29;
    border-color: #E71F29;
    color: #fff; }
    .btn-more-hover:hover .btn-more .btn-arrow:before {
      background: #fff; }
    .btn-more-hover:hover .btn-more .btn-arrow:after {
      color: #fff; } }

.back-arrow {
  display: block;
  width: 68px;
  text-align: center;
  color: #999;
  font-size: 16px; }
  .back-arrow .icon {
    display: block;
    height: 68px;
    border-radius: 50%;
    border: 1px solid #e5e5e5;
    line-height: 66px;
    transition: 300ms; }
  .back-arrow .btn-arrow {
    position: relative;
    top: -1px;
    vertical-align: middle;
    width: 20px;
    height: 4px; }
    .back-arrow .btn-arrow:after {
      border-left-width: 4px;
      border-right-width: 4px;
      border-bottom-width: 4px; }

@media screen and (min-width: 1025px) {
  .back-arrow-hover:hover .icon {
    background: #E71F29;
    border-color: #E71F29; }
  .back-arrow-hover:hover .btn-arrow:before {
    background: #fff; }
  .back-arrow-hover:hover .btn-arrow:after {
    color: #fff; } }

.share {
  line-height: 24px;
  color: #999; }
  .share .bdsharebuttonbox, .share > p {
    float: left; }
  .share a {
    line-height: 24px !important;
    background: none !important;
    height: auto !important;
    color: #999 !important;
    opacity: 1 !important;
    font-size: 18px !important; }
    .share a + a {
      margin-left: 10px !important; }
    @media screen and (min-width: 1025px) {
      .share a:hover {
        color: #E71F29 !important; } }

.back-top {
  display: block;
  width: 120px;
  height: 278px;
  background: #fff;
  text-align: center;
  color: #999;
  font-size: 12px; }
  .back-top .x {
    width: 12px;
    display: inline-block;
    line-height: 1.1; }
  .back-top i {
    vertical-align: middle; }
  @media screen and (min-width: 1025px) {
    .back-top:hover {
      background: #E71F29;
      color: #fff !important; }
      .back-top:hover .btn-arrow:before {
        background: #fff; }
      .back-top:hover .btn-arrow:after {
        color: #fff; } }
  @media screen and (max-width: 1366px) {
    .back-top {
      width: 96px; } }

.ix-ti {
  line-height: 1.4;
  color: #333;
  font-size: 40px;
  font-weight: bold; }
  .ix-ti .spe {
    color: #2B78DC; }
  .ix-ti.white {
    color: #fff; }
  @media screen and (max-width: 1366px) {
    .ix-ti {
      font-size: 32px; } }
  @media screen and (max-width: 641px) {
    .ix-ti {
      font-size: 26px; } }
  @media screen and (max-width: 481px) {
    .ix-ti {
      font-size: 22px; } }

.ip-ti .ch {
  font-size: 30px;
  font-weight: bold; }

.ip-ti .en {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 9px; }

@media screen and (max-width: 861px) {
  .ip-ti .en {
    font-size: 14px;
    margin-top: 7px; }
  .ip-ti .ch {
    font-size: 24px; } }

.header {
  height: 90px;
  transition: 300ms; }
  .header .logo-wrap {
    float: left;
    margin: 33px 0 0 40px; }
    .header .logo-wrap .name {
      float: left;
      border-left: 1px solid #e5e5e5;
      margin-top: 3px;
      padding-left: 15px;
      line-height: 20px;
      font-size: 16px; }
  .header .logo {
    float: left;
    margin-right: 25px;
    width: 212px; }
    .header .logo .img1 {
      display: none; }
  .header .nav {
    float: right;
    margin-right: 40px;
    line-height: 24px; }
  @media screen and (max-width: 1366px) {
    .header {
      height: 80px; }
      .header .logo-wrap {
        margin-top: 28px; } }
  @media screen and (max-width: 1024px) {
    .header {
      height: 60px;
      background: #2B78DC; }
      .header .logo-wrap {
        margin: 18px 0 0 5%;
        color: #fff; }
        .header .logo-wrap .name {
          border-color: rgba(255, 255, 255, 0.6); }
      .header .logo .img1 {
        display: block; }
      .header .logo .img2 {
        display: none; }
      .header .nav {
        display: none; } }
  @media screen and (max-width: 481px) {
    .header .logo-wrap {
      transform-origin: left center;
      transform: scale(0.7); }
      .header .logo-wrap .name {
        display: none; } }

@media screen and (max-width: 1024px) {
  .menu-handler {
    display: block;
    background: #E71F29; }
    .menu-handler .burger {
      background: #fff;
      border-radius: 4px; } }

.nav li {
  float: left; }
  .nav li + li {
    margin-left: 48px; }
    @media screen and (max-width: 1366px) {
      .nav li + li {
        margin-left: 43px; } }
  .nav li > a {
    display: block;
    padding: 33px 0;
    font-size: 16px;
    color: #333; }
    .nav li > a.act {
      color: #2B78DC !important; }
    @media screen and (min-width: 1025px) {
      .nav li > a:hover {
        color: #2B78DC !important; } }
    @media screen and (max-width: 1366px) {
      .nav li > a {
        padding: 28px 0; } }

.mtop {
  height: 90px; }
  @media screen and (max-width: 1366px) {
    .mtop {
      height: 80px; } }
  @media screen and (max-width: 1024px) {
    .mtop {
      height: 60px; } }

.menuBox {
  display: none;
  right: -215px;
  background: #E71F29;
  color: #fff; }
  .menuBox a {
    color: #fff; }

.navMobile {
  padding-top: 60px; }
  .navMobile a {
    display: block;
    padding-left: 35px;
    padding-right: 15px;
    line-height: 1.4; }
  .navMobile dd > a {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px; }
    .navMobile dd > a.act {
      background: #2B78DC; }
  .navMobile .mtv {
    display: none;
    padding: 12px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6); }
    .navMobile .mtv > a {
      padding-top: 6px;
      padding-bottom: 6px;
      font-size: 16px; }
  @media screen and (max-width: 1366px) {
    .navMobile dd > a {
      font-size: 16px; }
    .navMobile .mtv > a {
      font-size: 14px; } }

.footer {
  position: relative;
  background: #333;
  padding: 115px 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.5); }
  .footer a {
    color: #fff;
    color: rgba(255, 255, 255, 0.5); }
    @media screen and (min-width: 1025px) {
      .footer a:not(.na):hover {
        color: #E71F29; } }
  .footer .logo-wrap {
    display: block;
    margin-bottom: 65px;
    color: #fff;
    overflow: hidden; }
    .footer .logo-wrap .name {
      float: left;
      margin-top: 9px;
      padding-left: 15px;
      border-left: 1px solid #fff;
      line-height: 1;
      font-size: 16px; }
  .footer .logo {
    float: left;
    width: 212px;
    margin-right: 25px; }
  .footer .f-cta {
    float: left;
    border-left: 1px solid #fff;
    padding-left: 20px;
    color: #fff; }
    .footer .f-cta a {
      color: #fff; }
      @media screen and (min-width: 1025px) {
        .footer .f-cta a:not(.na):hover {
          color: #E71F29; } }
  .footer .f-cop {
    float: right;
    text-align: right; }
  .footer .back-top {
    position: absolute;
    left: 0;
    top: 0;
    height: auto;
    bottom: 115px;
    color: #999; }
  @media screen and (max-width: 1221px) {
    .footer {
      padding: 75px 0; }
      .footer .back-top {
        position: fixed;
        z-index: 599;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: rgba(231, 31, 41, 0.8);
        top: auto;
        left: auto;
        right: 10px;
        bottom: 10px; }
        .footer .back-top .x {
          display: none; }
        .footer .back-top .btn-arrow {
          height: 20px; }
          .footer .back-top .btn-arrow:before {
            background: #fff; }
          .footer .back-top .btn-arrow:after {
            color: #fff; } }
  @media screen and (max-width: 861px) {
    .footer .f-cop, .footer .f-cta {
      float: none; }
    .footer .f-cop {
      text-align: left;
      margin-top: 10px; }
    .footer .f-cta {
      border-left: none;
      padding-left: 0; }
    .footer .logo-wrap {
      margin-bottom: 40px; } }
  @media screen and (max-width: 601px) {
    .footer {
      padding: 12.5vw 0; }
      .footer .logo {
        transform-origin: left top;
        transform: scale(0.7);
        float: none; }
      .footer .logo-wrap .name {
        float: none;
        font-size: 14px;
        margin-top: 5px; } }

.index-page .mtop {
  height: 0; }

.index-page .header {
  background: none;
  box-shadow: none; }
  .index-page .header a {
    color: #fff; }
  .index-page .header .logo-wrap .name {
    border-color: #fff;
    border-color: rgba(255, 255, 255, 0.6); }
  .index-page .header .logo .img1 {
    display: block; }
  .index-page .header .logo .img2 {
    display: none; }

.index-page .sheader {
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
  .index-page .sheader a {
    color: #666; }
  .index-page .sheader .logo-wrap .name {
    border-color: #e5e5e5; }
  .index-page .sheader .logo .img1 {
    display: none; }
  .index-page .sheader .logo .img2 {
    display: block; }
  .index-page .sheader .nav li > a {
    color: #333; }

@media screen and (max-width: 1024px) {
  .index-page .mtop {
    height: 60px; }
  .index-page .header {
    background: #2B78DC; } }

.ix1 .info-wrap {
  padding: 155px 5% 145px; }
  .ix1 .info-wrap .freeTx {
    width: 860px;
    max-width: 100%;
    margin: 25px auto 0;
    font-size: 16px; }

.ix1 .fixbg {
  overflow: hidden; }

.ix1 .ix-pro-list li {
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden; }
  .ix1 .ix-pro-list li:nth-child(2n) {
    transform: translateY(-100%); }

@media screen and (max-width: 1366px) {
  .ix1 .info-wrap {
    padding-top: 125px;
    padding-bottom: 115px; }
    .ix1 .info-wrap .freeTx {
      width: 760px;
      font-size: 14px; } }

@media screen and (max-width: 601px) {
  .ix1 .info-wrap {
    padding-top: 20.83333vw;
    padding-bottom: 19.16667vw; }
    .ix1 .info-wrap .freeTx {
      margin-top: 4.16667vw; } }

.active .ix-pro-list li, .active .ix-pro-list li:nth-child(2n) {
  transform: none;
  opacity: 1;
  visibility: visible; }

.pw2 {
  width: 1402px;
  margin: 0 auto; }
  @media screen and (max-width: 1700px) {
    .pw2 {
      width: 1201px; } }
  @media screen and (max-width: 1500px) {
    .pw2 {
      width: 1102px; } }
  @media screen and (max-width: 1366px) {
    .pw2 {
      width: 1003px; } }
  @media screen and (max-width: 1024px) {
    .pw2 {
      width: 90%; } }

.ix2 {
  padding: 90px 0 100px; }
  .ix2 .ix-ti {
    margin-bottom: 50px; }
  .ix2 .ic-nav {
    margin-bottom: 20px; }
  .ix2 .more {
    margin-top: 55px; }
  @media screen and (max-width: 1366px) {
    .ix2 .ic-nav {
      margin-bottom: 30px; } }
  @media screen and (max-width: 601px) {
    .ix2 {
      padding: 15vw 0 16.66667vw; }
      .ix2 .ix-ti {
        margin-bottom: 8.33333vw; }
      .ix2 .more {
        margin-top: 9.16667vw; }
      .ix2 .ic-nav {
        margin-bottom: 5vw; } }

.ix3 {
  padding: 130px 0 200px; }
  .ix3 .ix-news-list {
    margin-top: 40px; }
  @media screen and (max-width: 1366px) {
    .ix3 {
      padding: 110px 0 180px; } }
  @media screen and (max-width: 1024px) {
    .ix3 {
      padding: 90px 0 100px; } }
  @media screen and (max-width: 601px) {
    .ix3 {
      padding: 15vw 0 16.66667vw; }
      .ix3 .ix-news-list {
        margin-top: 6.66667vw; } }

.ix4 {
  padding: 170px 5%; }
  @media screen and (max-width: 1366px) {
    .ix4 {
      padding-top: 140px;
      padding-bottom: 140px; } }
  @media screen and (max-width: 861px) {
    .ix4 {
      padding-bottom: 90px; } }
  @media screen and (max-width: 641px) {
    .ix4 {
      padding-bottom: 70px;
      padding-top: 120px; } }
  @media screen and (max-width: 601px) {
    .ix4 {
      padding-bottom: 11.66667vw;
      padding-top: 20vw; } }

.banner .pic2 {
  position: absolute;
  top: 0;
  left: 0; }

.banner .slick-arrow {
  width: auto;
  background: none;
  line-height: 40px;
  font-size: 36px;
  color: #fff; }
  @media screen and (min-width: 1025px) {
    .banner .slick-arrow:hover {
      color: #2B78DC; } }

.banner .slick-prev {
  left: 35px; }

.banner .slick-next {
  right: 35px; }

.banner .slick-dots {
  display: none !important; }
  .banner .slick-dots li {
    background: #fff; }
  .banner .slick-dots .slick-active {
    background: #2B78DC; }

.banner .txts {
  position: absolute;
  right: 0;
  top: 90px;
  width: 53.125%;
  padding-top: 13.54167%;
  color: #fff; }

.banner .ti {
  width: 900px;
  max-width: 90%;
  font-size: 50px;
  font-weight: bold; }

.banner .more {
  margin-top: 70px; }

@media screen and (max-width: 1600px) {
  .banner .ti {
    width: 740px;
    font-size: 40px; }
  .banner .more {
    margin-top: 60px; }
  .banner .txts {
    padding-top: 10%; } }

@media screen and (max-width: 1366px) {
  .banner .ti {
    width: 580px;
    font-size: 32px; }
  .banner .more {
    margin-top: 50px; }
  .banner .txts {
    padding-top: 9%; }
  .banner .btn-more {
    width: 200px;
    height: 48px;
    line-height: 46px;
    font-size: 14px; }
    .banner .btn-more .btn-arrow {
      width: 40px;
      height: 6px;
      margin: 0 0 20px 20px; }
      .banner .btn-more .btn-arrow:after {
        border-left-width: 6px;
        border-right-width: 6px;
        border-bottom-width: 6px; } }

@media screen and (max-width: 1024px) {
  .banner .pic2 {
    position: relative; }
  .banner .slick-arrow {
    display: none !important; }
  .banner .slick-dots {
    display: block !important; }
  .banner .txts {
    width: 100%;
    padding: 0 5%;
    top: 50%;
    transform: translateY(-50%); }
  .banner .ti {
    max-width: 100%; } }

@media screen and (max-width: 861px) {
  .banner .ti {
    font-size: 26px;
    width: 480px; }
  .banner .btn-more {
    width: 120px;
    height: 40px;
    line-height: 38px;
    font-size: 12px; }
    .banner .btn-more .btn-arrow {
      display: none; }
  .banner .more {
    margin-top: 40px; } }

@media screen and (max-width: 601px) {
  .banner .ti {
    font-size: 22px;
    width: 400px; }
  .banner .more {
    margin-top: 6.66667vw; } }

@media screen and (max-width: 481px) {
  .banner .ti {
    font-size: 20px;
    width: 400px; }
  .banner .btn-more {
    width: auto;
    height: auto;
    border: none;
    line-height: 16px; }
    .banner .btn-more .btn-arrow {
      display: inline-block;
      width: 32px;
      height: 4px;
      margin: 0 0 6px 15px; }
      .banner .btn-more .btn-arrow:after {
        border-left-width: 4px;
        border-right-width: 4px;
        border-bottom-width: 4px; }
  .banner .more {
    line-height: 1; } }

.banner-box .banner-count {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 199; }
  @media screen and (max-width: 1024px) {
    .banner-box .banner-count {
      display: none; } }

.banner-count {
  width: 320px;
  height: 100px;
  background: #2B78DC;
  color: #fff;
  line-height: 100px;
  text-align: center;
  font-size: 16px; }
  .banner-count .cnum {
    font-size: 40px; }
  @media screen and (max-width: 1366px) {
    .banner-count {
      width: 256px;
      height: 80px;
      line-height: 80px; }
      .banner-count .cnum {
        font-size: 32px; } }

.slick-arrow {
  font-family: "iconfont" !important; }

.slick-prev:before {
  content: "\e660"; }

.slick-next:before {
  content: "\e65f"; }

.ix-pro-list li {
  width: 25%;
  float: left; }

.ix-pro-list a {
  display: block;
  padding: 316px 5% 0;
  height: 700px;
  background: url(../images/black5.png);
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  color: #fff;
  transition: 400ms; }
  @media screen and (min-width: 1025px) {
    .ix-pro-list a:hover {
      background: rgba(0, 0, 0, 0.6);
      padding-top: 132px; }
      .ix-pro-list a:hover .line, .ix-pro-list a:hover .nowti, .ix-pro-list a:hover .more {
        opacity: 1;
        visibility: visible; } }
  @media screen and (min-width: 1367px) {
    .ix-pro-list a:hover {
      padding-top: 232px; } }

.ix-pro-list .line, .ix-pro-list .nowti, .ix-pro-list .more {
  opacity: 0;
  visibility: hidden;
  transition: 400ms; }

.ix-pro-list .line {
  display: block;
  margin: 20px auto 0;
  width: 30px;
  height: 1px;
  background: #fff;
  background: rgba(255, 255, 255, 0.5); }

.ix-pro-list .nowti {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.8; }

.ix-pro-list .more {
  margin-top: 50px; }

@media screen and (max-width: 1366px) {
  .ix-pro-list a {
    height: 500px;
    padding-top: 216px; } }

@media screen and (max-width: 1024px) {
  .ix-pro-list a {
    padding-top: 62px;
    height: 360px; }
  .ix-pro-list .line, .ix-pro-list .nowti, .ix-pro-list .more {
    opacity: 1;
    visibility: visible; }
  .ix-pro-list li {
    width: 50%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5); }
    .ix-pro-list li:nth-child(2n) {
      border-right: none; } }

@media screen and (max-width: 861px) {
  .ix-pro-list .nowti {
    font-size: 14px; }
  .ix-pro-list .more {
    margin-top: 40px; }
  .ix-pro-list .btn-more-1 {
    width: 120px;
    height: 40px;
    line-height: 38px;
    font-size: 14px; }
  .ix-pro-list a {
    padding-top: 50px;
    height: 300px; } }

@media screen and (max-width: 481px) {
  .ix-pro-list li {
    width: 100%;
    border-right: none; }
  .ix-pro-list a {
    height: auto;
    padding-top: 10vw;
    padding-bottom: 10vw; } }

.ic-nav {
  margin-left: -15px; }
  .ic-nav li {
    width: 14.28%;
    float: left;
    margin-bottom: 15px; }
    .ic-nav li > a {
      display: block;
      margin-left: 15px;
      padding: 0 5px;
      height: 46px;
      background: #fff;
      color: #999;
      line-height: 46px;
      font-size: 16px;
      text-align: center; }
      .ic-nav li > a.act {
        background: #E71F29;
        color: #fff; }
      @media screen and (min-width: 1025px) {
        .ic-nav li > a:hover {
          background: #E71F29;
          color: #fff; } }
  @media screen and (max-width: 1366px) {
    .ic-nav {
      margin-left: -5px; }
      .ic-nav li {
        margin-bottom: 5px; }
        .ic-nav li > a {
          margin-left: 5px; } }
  @media screen and (max-width: 1024px) {
    .ic-nav li {
      width: 20%; }
      .ic-nav li > a {
        font-size: 14px; } }
  @media screen and (max-width: 601px) {
    .ic-nav li {
      width: 25%; } }
  @media screen and (max-width: 481px) {
    .ic-nav {
      margin-left: -1px; }
      .ic-nav li {
        margin-bottom: 1px; }
        .ic-nav li > a {
          margin-left: 1px; } }

.case-list {
  margin-left: -1px; }
  .case-list li {
    width: 33.33%;
    float: left;
    margin-bottom: 1px; }
  .case-list a {
    display: block;
    position: relative;
    margin-left: 1px;
    color: #fff; }
    @media screen and (min-width: 1025px) {
      .case-list a:hover .pai:before {
        opacity: 0;
        visibility: hidden; }
      .case-list a:hover .pai:after {
        opacity: 1;
        visibility: visible; }
      .case-list a:hover .ti1 {
        transform: translateY(-20px);
        opacity: 0;
        visibility: hidden; }
      .case-list a:hover .more, .case-list a:hover .txts {
        transform: none;
        opacity: 1;
        visibility: visible; } }
  .case-list .pai {
    padding-bottom: 57.81585%; }
    .case-list .pai:before, .case-list .pai:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 9;
      transition: 400ms; }
    .case-list .pai:before {
      height: 75px;
      background: linear-gradient(180deg, rgba(7, 7, 7, 0) 0%, black 100%);
      opacity: .3; }
    .case-list .pai:after {
      top: 0;
      background: #2B78DC;
      background: rgba(43, 120, 220, 0.8);
      opacity: 0;
      visibility: hidden; }
  .case-list .ti1, .case-list .txts {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0 30px;
    transition: 400ms; }
  .case-list .ti1 {
    bottom: 13px; }
  .case-list .txts {
    top: 40px;
    transform: translateY(20px);
    opacity: 0;
    visibility: hidden; }
  .case-list .ty {
    font-size: 12px;
    margin-bottom: 2px; }
  .case-list .ti2 {
    font-size: 16px;
    font-weight: bold; }
  .case-list .more {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
    transform: translateX(-20px);
    opacity: 0;
    visibility: hidden;
    transition: 400ms; }
  @media screen and (max-width: 1700px) {
    .case-list .txts {
      top: 30px; } }
  @media screen and (max-width: 1500px) {
    .case-list .ti1, .case-list .txts {
      padding: 0 20px; }
    .case-list .txts {
      top: 25px; } }
  @media screen and (max-width: 1366px) {
    .case-list .btn-more-2 {
      width: 168px;
      height: 40px;
      line-height: 38px; }
      .case-list .btn-more-2 .btn-arrow {
        margin: 0 0 17px 20px;
        height: 4px;
        width: 34px; }
        .case-list .btn-more-2 .btn-arrow:after {
          border-left-width: 4px;
          border-right-width: 4px;
          border-bottom-width: 4px; } }
  @media screen and (max-width: 1024px) {
    .case-list li {
      width: 50%; } }
  @media screen and (max-width: 481px) {
    .case-list li {
      width: 100%; } }

.in-item {
  display: block;
  border: 1px solid #e5e5e5;
  border-left: none;
  height: 272px;
  padding: 40px 50px 0 40px;
  font-size: 16px; }
  .in-item .nowti {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    transition: 300ms; }
  .in-item .tx {
    height: 48px;
    margin-top: 5px; }
  .in-item .more {
    line-height: 0;
    margin-top: 48px; }
  .in-item .date {
    margin-bottom: 13px; }
  @media screen and (min-width: 1025px) {
    .in-item:hover .nowti {
      color: #3F58BC; }
    .in-item:hover .btn-arrow {
      width: 95px; }
      .in-item:hover .btn-arrow:before {
        background: #E71F29; }
      .in-item:hover .btn-arrow:after {
        color: #E71F29; } }
  @media screen and (max-width: 1700px) {
    .in-item {
      padding-right: 40px; } }
  @media screen and (max-width: 1366px) {
    .in-item {
      padding-left: 30px;
      padding-right: 30px; } }
  @media screen and (max-width: 1024px) {
    .in-item {
      margin-left: 20px;
      border: none;
      background: #f2f2f2; } }
  @media screen and (max-width: 601px) {
    .in-item {
      padding-left: 5%;
      padding-right: 5%; } }

.ix-news-list {
  overflow: visible;
  border-left: 1px solid #e5e5e5; }
  .ix-news-list .slick-dots {
    top: 100%;
    margin-top: 70px; }
    .ix-news-list .slick-dots li {
      border: 1px solid #ccc;
      background: none; }
      @media screen and (min-width: 1025px) {
        .ix-news-list .slick-dots li:hover {
          background: #E71F29;
          border-color: #E71F29; } }
    .ix-news-list .slick-dots .slick-active {
      background: #E71F29;
      border-color: #E71F29; }
  @media screen and (max-width: 1024px) {
    .ix-news-list {
      border-left: none;
      margin-left: -20px; }
      .ix-news-list .slick-dots {
        position: static;
        padding-left: 20px;
        margin-top: 50px; } }
  @media screen and (max-width: 601px) {
    .ix-news-list .slick-dots {
      margin-top: 8.33333vw; } }

.ix-charac-list {
  line-height: 1.2;
  font-size: 16px; }
  .ix-charac-list li {
    width: 25%;
    text-align: center; }
    @media screen and (min-width: 1025px) {
      .ix-charac-list li:hover .tx1, .ix-charac-list li:hover .icon {
        color: #2B78DC; } }
  .ix-charac-list .icon {
    margin-bottom: 13px;
    line-height: 1;
    font-size: 50px;
    color: #000;
    transition: 300ms; }
  .ix-charac-list .tx1 {
    color: #333;
    font-size: 20px;
    transition: 300ms; }
  @media screen and (max-width: 861px) {
    .ix-charac-list li {
      width: 50%;
      margin-bottom: 50px; } }
  @media screen and (max-width: 601px) {
    .ix-charac-list li {
      margin-bottom: 8.33333%; } }
  @media screen and (max-width: 481px) {
    .ix-charac-list {
      font-size: 14px; }
      .ix-charac-list .tx1 {
        font-size: 16px; }
      .ix-charac-list .icon {
        font-size: 40px; } }

.sos-box {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 50%;
  margin-top: -300px;
  text-align: center;
  line-height: 1.4; }
  .sos-box img {
    vertical-align: bottom;
    max-width: 100%; }
  .sos-box .tx1 {
    margin-top: 60px;
    font-size: 30px;
    color: #333; }
  .sos-box .tx2 {
    margin-top: 3px; }
  .sos-box .fib {
    margin-top: 25px; }
  .sos-box .ib {
    width: 160px;
    height: 50px;
    background: #2B78DC;
    color: #fff;
    line-height: 50px; }
    @media screen and (min-width: 1025px) {
      .sos-box .ib:hover {
        background: #E71F29; } }
  @media screen and (max-width: 1366px) {
    .sos-box {
      margin-top: -290px; }
      .sos-box .tx1 {
        margin-top: 40px; } }
  @media screen and (max-width: 1024px) {
    .sos-box {
      margin: 0;
      transform: translateY(-50%); } }
  @media screen and (max-width: 481px) {
    .sos-box .tx1 {
      font-size: 24px;
      margin-top: 20px; }
    .sos-box .ib {
      width: 120px;
      height: 40px;
      line-height: 40px; }
    .sos-box .fib {
      margin-top: 15px; } }

.pbanner {
  color: #fff; }
  .pbanner .txts {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -600px; }
  .pbanner .ch {
    font-size: 50px;
    font-weight: bold; }
  .pbanner .en {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -96px;
    font-size: 120px;
    color: rgba(255, 255, 255, 0.2);
    white-space: nowrap;
    animation: cloudMove 20s linear infinite; }
  @media screen and (max-width: 1366px) {
    .pbanner .ch {
      font-size: 40px; }
    .pbanner .en {
      font-size: 96px;
      margin-top: -84px; }
    .pbanner .txts {
      margin-left: -500px; } }
  @media screen and (max-width: 1024px) {
    .pbanner .txts {
      margin-left: 0;
      left: 5%;
      right: 5%; } }
  @media screen and (max-width: 861px) {
    .pbanner .ch {
      font-size: 32px; }
    .pbanner .en {
      font-size: 76px;
      margin-top: -64px; } }
  @media screen and (max-width: 601px) {
    .pbanner .ch {
      font-size: 26px; }
    .pbanner .en {
      font-size: 60px;
      margin-top: -50px; } }
  @media screen and (max-width: 481px) {
    .pbanner .ch {
      font-size: 22px; }
    .pbanner .en {
      font-size: 50px;
      margin-top: -40px; } }

@keyframes cloudMove {
  0% {
    -webkit-transform: translate(-30%);
    -moz-transform: translate(-30%);
    transform: translate(-30%); }
  100% {
    -webkit-transform: translate(100%);
    -moz-transform: translate(100%);
    transform: translate(100%); } }

.ab1 {
  padding: 175px 0 110px; }
  .ab1 .txts {
    width: 67.83333%;
    max-width: 100%; }
  .ab1 .freeTx {
    font-size: 16px;
    margin-top: 25px; }
  .ab1 .ab-line {
    margin-top: 90px; }
  @media screen and (max-width: 1600px) {
    .ab1 {
      padding-top: 135px; } }
  @media screen and (max-width: 1366px) {
    .ab1 {
      padding: 115px 0 90px; }
      .ab1 .freeTx {
        font-size: 14px; }
      .ab1 .ab-line {
        margin-top: 70px; } }
  @media screen and (max-width: 1024px) {
    .ab1 .txts {
      width: 625px; } }
  @media screen and (max-width: 861px) {
    .ab1 {
      padding-top: 95px; } }
  @media screen and (max-width: 601px) {
    .ab1 {
      padding: 15.83333vw 0 15vw; }
      .ab1 .freeTx {
        margin-top: 4.16667vw; }
      .ab1 .ab-line {
        margin-top: 11.66667vw; } }
  @media screen and (max-width: 481px) {
    .ab1 .ab-line {
      margin-top: 15vw; } }

.ab-line {
  display: block;
  height: 1px;
  width: 120px;
  background: #ccc; }
  @media screen and (max-width: 601px) {
    .ab-line {
      width: 20vw; } }

.pw3 {
  width: 1320px;
  margin: 0 auto; }
  @media screen and (max-width: 1500px) {
    .pw3 {
      width: 1200px; } }
  @media screen and (max-width: 1366px) {
    .pw3 {
      width: 1000px; } }
  @media screen and (max-width: 1024px) {
    .pw3 {
      width: 90%; } }

.ab2 {
  padding-bottom: 110px; }
  @media screen and (max-width: 601px) {
    .ab2 {
      padding-bottom: 18.33333%; } }

.about-en.move-en {
  top: 0;
  bottom: 0;
  left: auto;
  right: 50%;
  margin: 0 -600px 0 0;
  writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  animation: cloudMove2 20s linear infinite; }
  @media screen and (max-width: 1366px) {
    .about-en.move-en {
      margin-right: -500px; } }
  @media screen and (max-width: 1024px) {
    .about-en.move-en {
      margin: 0;
      right: 5%; } }

@keyframes cloudMove2 {
  0% {
    -webkit-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    transform: translateY(-30%); }
  100% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    transform: translateY(100%); } }

.ab-arrow .slick-arrow {
  top: auto;
  bottom: 0;
  margin-top: 0;
  width: 100px;
  height: 80px;
  background: #2B78DC;
  line-height: 80px;
  color: #fff;
  font-size: 28px;
  text-align: center; }
  @media screen and (min-width: 1025px) {
    .ab-arrow .slick-arrow:hover {
      background: #E71F29; } }

.ab-arrow .slick-prev {
  left: auto;
  right: 100px; }
  .ab-arrow .slick-prev:before {
    content: "\e726"; }

.ab-arrow .slick-next:before {
  content: "\e727"; }

.ab-arrow .slick-next:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -6px;
  height: 12px;
  width: 1px;
  background: #fff; }

.ab-list .pai {
  padding-bottom: 45.90909%; }

.ab-list .txts {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 50px 60px 0;
  width: 500px;
  min-height: 345px;
  background: #fff; }

.ab-list .item {
  padding-bottom: 215px; }

.ab-list .freeTx {
  font-size: 16px;
  margin-top: 13px; }

.ab-list .ab-line {
  margin-top: 70px; }

.ab-list .slick-arrow {
  bottom: 215px; }

@media screen and (max-width: 1366px) {
  .ab-list .freeTx {
    font-size: 14px; }
  .ab-list .ab-line {
    margin-top: 50px; }
  .ab-list .txts {
    width: 400px;
    min-height: 275px;
    padding: 40px 40px 0; }
  .ab-list .item {
    padding-bottom: 145px; }
  .ab-list .slick-arrow {
    bottom: 145px; } }

@media screen and (max-width: 861px) {
  .ab-list {
    background: #f2f2f2;
    padding-bottom: 50px; }
    .ab-list .item {
      padding-bottom: 0; }
    .ab-list .txts {
      position: static;
      background: none;
      padding-left: 5%;
      padding-right: 5%;
      min-height: 0; }
    .ab-list .slick-arrow {
      right: auto;
      bottom: auto;
      top: 0;
      left: 0;
      width: 80px;
      height: 64px;
      line-height: 64px;
      background: rgba(43, 120, 220, 0.8); }
    .ab-list .slick-next {
      left: 80px; } }

@media screen and (max-width: 641px) {
  .ab-list .slick-arrow {
    width: 64px;
    height: 52px;
    font-size: 22px;
    line-height: 52px; }
  .ab-list .slick-next {
    left: 64px; } }

@media screen and (max-width: 601px) {
  .ab-list {
    padding-bottom: 8.33333vw; }
    .ab-list .txts {
      padding-top: 6.66667vw; }
    .ab-list .ab-line {
      margin-top: 8.33333vw; }
    .ab-list .freeTx {
      margin-top: 2.16667vw; } }

@media screen and (max-width: 481px) {
  .ab-list .slick-arrow {
    width: 52px;
    height: 42px;
    line-height: 42px;
    font-size: 18px; }
  .ab-list .slick-next {
    left: 52px; } }

.news-list {
  margin-left: -40px; }
  .news-list li {
    width: 50%;
    float: left;
    margin-bottom: 40px; }
  .news-list a {
    display: block;
    margin-left: 40px;
    height: 205px;
    padding: 30px;
    border: 1px solid #e5e5e5;
    overflow: hidden; }
    @media screen and (min-width: 1025px) {
      .news-list a:hover .nowti {
        color: #2B78DC; }
      .news-list a:hover .btn-arrow {
        width: 80px; }
        .news-list a:hover .btn-arrow:before {
          background: #E71F29; }
        .news-list a:hover .btn-arrow:after {
          color: #E71F29; } }
  .news-list .pic {
    float: left;
    width: 184px;
    height: 143px;
    margin-right: 35px; }
  .news-list .txts {
    overflow: hidden; }
  .news-list .date {
    margin-bottom: 9px;
    line-height: 1; }
  .news-list .nowti {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    transition: 300ms; }
  .news-list .tx {
    height: 48px;
    margin-top: 2px; }
  .news-list .more {
    margin-top: 34px;
    line-height: 0; }
  @media screen and (max-width: 1366px) {
    .news-list {
      margin-left: -25px; }
      .news-list a {
        margin-left: 25px; }
      .news-list .pic {
        margin-right: 25px; } }
  @media screen and (max-width: 1024px) {
    .news-list a {
      padding-left: 20px;
      padding-right: 20px; }
    .news-list .pic {
      margin-right: 20px; } }
  @media screen and (max-width: 861px) {
    .news-list .pic {
      display: none; } }
  @media screen and (max-width: 601px) {
    .news-list li {
      width: 100%;
      margin-bottom: 6.66667vw; }
    .news-list .pic {
      display: block; }
    .news-list a {
      padding-left: 5%;
      padding-right: 5%; } }
  @media screen and (max-width: 481px) {
    .news-list .pic {
      display: none; } }

.nw1 {
  padding: 100px 0 90px; }
  .nw1 .news-list {
    margin-bottom: 30px; }
  @media screen and (max-width: 601px) {
    .nw1 {
      padding: 16.66667vw 0 15vw; }
      .nw1 .news-list {
        margin-bottom: 5vw; } }

.nd-pw {
  width: 900px;
  margin: 0 auto;
  max-width: 90%; }

.nd-t {
  padding: 130px 0;
  background: #2B78DC;
  color: #fff; }
  .nd-t .name {
    margin-bottom: 4px;
    color: rgba(255, 255, 255, 0.5); }
  .nd-t .ti {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 50px; }
  .nd-t .nd-mess {
    line-height: 24px; }
    .nd-t .nd-mess li + li {
      margin-left: 40px; }
      @media screen and (max-width: 601px) {
        .nd-t .nd-mess li + li {
          margin-left: 6.66667vw; } }
  .nd-t .date .icon {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 6px;
    font-size: 14px; }
  .nd-t .share {
    color: #fff; }
    .nd-t .share a {
      color: #fff !important; }
      @media screen and (min-width: 1025px) {
        .nd-t .share a:hover {
          color: #E71F29 !important; } }
  @media screen and (max-width: 1366px) {
    .nd-t {
      padding: 110px 0; }
      .nd-t .ti {
        font-size: 40px; } }
  @media screen and (max-width: 861px) {
    .nd-t .ti {
      font-size: 32px; } }
  @media screen and (max-width: 601px) {
    .nd-t {
      padding: 18.33333vw 0; }
      .nd-t .ti {
        font-size: 26px; } }
  @media screen and (max-width: 481px) {
    .nd-t .ti {
      font-size: 22px;
      margin-bottom: 3.33333vw; } }

.nd-back .back-arrow {
  position: fixed;
  z-index: 599;
  top: 50%;
  margin-top: -48px;
  transition: 600ms; }
  .nd-back .back-arrow.hide {
    opacity: 0;
    visibility: hidden; }

.nd-back .back-prev {
  left: 50%;
  margin-left: -600px; }
  .nd-back .back-prev.hide {
    transform: translateX(-40px); }

.nd-back .back-next {
  right: 50%;
  margin-right: -600px; }
  .nd-back .back-next.hide {
    transform: translateX(40px); }

@media screen and (max-width: 1220px) {
  .nd-back {
    position: relative; }
    .nd-back .back-arrow {
      position: absolute;
      top: 0;
      margin: 0;
      width: 54px; }
      .nd-back .back-arrow .x {
        display: none; }
      .nd-back .back-arrow .icon {
        height: 54px;
        line-height: 52px; }
    .nd-back .back-prev {
      left: 0; }
    .nd-back .back-next {
      right: 0; } }

@media screen and (max-width: 481px) {
  .nd-back .back-list .btn-more {
    width: 160px; }
  .nd-back .back-arrow {
    width: 44px; }
    .nd-back .back-arrow .icon {
      height: 44px;
      line-height: 42px; }
    .nd-back .back-arrow .btn-arrow {
      width: 15px; } }

.nd-b {
  padding: 100px 0 90px; }
  @media screen and (max-width: 1366px) {
    .nd-b {
      padding-top: 90px; } }
  @media screen and (max-width: 601px) {
    .nd-b {
      padding: 15vw 0; } }

.nw2 {
  padding-bottom: 95px; }
  @media screen and (max-width: 601px) {
    .nw2 {
      padding-bottom: 15.83333vw; } }

.contact-list {
  width: 580px;
  margin: 0 auto;
  max-width: 100%; }
  .contact-list li {
    display: table;
    table-layout: fixed;
    width: 100%;
    border: 1px solid #e5e5e5;
    padding: 20px 50px;
    transition: 300ms; }
    .contact-list li + li {
      margin-top: 30px; }
    @media screen and (min-width: 1025px) {
      .contact-list li:hover {
        background: #f2f2f2; } }
  .contact-list .b, .contact-list .name {
    display: table-cell;
    vertical-align: middle; }
  .contact-list .name {
    width: 140px;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px; }
    .contact-list .name .icon {
      display: inline-block;
      vertical-align: bottom;
      width: 35px;
      color: #ccc;
      font-size: 22px; }
  .contact-list .b {
    font-size: 16px; }
  @media screen and (min-width: 1025px) {
    .contact-list a:not(.na):hover {
      color: #E71F29; } }
  @media screen and (max-width: 641px) {
    .contact-list li {
      padding-left: 5%;
      padding-right: 5%; } }
  @media screen and (max-width: 601px) {
    .contact-list li + li {
      margin-top: 5vw; } }
  @media screen and (max-width: 481px) {
    .contact-list .b {
      font-size: 14px; }
    .contact-list .name {
      font-size: 16px;
      width: 110px; }
      .contact-list .name .icon {
        font-size: 18px;
        width: 28px; } }

.cta1 {
  padding: 90px 0 100px; }
  .cta1 .contact-list {
    margin-top: 40px; }
  @media screen and (max-width: 601px) {
    .cta1 {
      padding: 15vw 0 16.66667vw; }
      .cta1 .contact-list {
        margin-top: 6.66667vw; } }

.move-en {
  position: fixed;
  z-index: -1;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -140px;
  line-height: 1;
  color: #fafafa;
  font-size: 280px;
  white-space: nowrap;
  animation: cloudMove 20s linear infinite; }
  @media screen and (max-width: 1600px) {
    .move-en {
      font-size: 224px;
      margin-top: -112px; } }
  @media screen and (max-width: 1366px) {
    .move-en {
      font-size: 180px;
      margin-top: -90px; } }
  @media screen and (max-width: 1024px) {
    .move-en {
      margin-top: 0;
      transform: translateY(-50%); } }
  @media screen and (max-width: 641px) {
    .move-en {
      font-size: 144px; } }
  @media screen and (max-width: 481px) {
    .move-en {
      font-size: 114px; } }

@media screen and (max-width: 1024px) {
  #map {
    height: 500px !important; } }

@media screen and (max-width: 601px) {
  #map {
    height: 83.33333vw !important; } }

.case-nav {
  padding-right: 156px; }
  .case-nav .item > a {
    display: block;
    margin-right: 16px;
    height: 46px;
    border: 1px solid #e5e5e5;
    text-align: center;
    line-height: 44px;
    color: #999;
    font-size: 13px; }
    .case-nav .item > a.act {
      background: #E71F29;
      border-color: #E71F29;
      color: #fff; }
    @media screen and (min-width: 1025px) {
      .case-nav .item > a:hover {
        background: #E71F29;
        border-color: #E71F29;
        color: #fff; } }
  .case-nav .slick-arrow {
    width: 78px;
    height: 46px;
    line-height: 46px; }
  .case-nav .slick-prev {
    right: 78px; }
  @media screen and (max-width: 861px) {
    .case-nav .item > a {
      margin-right: 8px; } }
  @media screen and (max-width: 641px) {
    .case-nav {
      padding-right: 116px; }
      .case-nav .slick-arrow {
        width: 58px; }
      .case-nav .slick-prev {
        right: 58px; } }
  @media screen and (max-width: 481px) {
    .case-nav {
      padding-right: 76px; }
      .case-nav .slick-arrow {
        width: 38px;
        font-size: 18px; }
      .case-nav .slick-prev {
        right: 38px; }
      .case-nav .item > a {
        margin-right: 4px; } }

.case1 {
  padding: 85px 0 100px; }
  .case1 .case-list {
    margin-bottom: 70px; }
  .case1 .case-nav {
    margin-bottom: 40px; }
  @media screen and (max-width: 601px) {
    .case1 {
      padding: 14.16667vw 0 16.66667vw; }
      .case1 .case-list {
        margin-bottom: 11.66667vw; }
      .case1 .case-nav {
        margin-bottom: 6.66667vw; } }

.case-base {
  display: table;
  width: 100%;
  border: 1px solid #e5e5e5;
  line-height: 24px; }
  .case-base li {
    display: table-cell;
    width: 33.33%;
    padding: 10px 20px;
    overflow: hidden; }
    .case-base li + li {
      border-left: 1px solid #e5e5e5; }
  .case-base .name {
    float: left;
    margin-right: 20px;
    line-height: 24px;
    color: #999; }
  .case-base .text {
    overflow: hidden; }
  @media screen and (max-width: 601px) {
    .case-base {
      display: block; }
      .case-base li {
        display: block;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%; }
        .case-base li + li {
          border-left: none;
          border-top: 1px solid #e5e5e5; }
      .case-base .name {
        width: 80px;
        margin-right: 0; } }

.nd-b .case-base {
  margin-bottom: 50px; }
  @media screen and (max-width: 601px) {
    .nd-b .case-base {
      margin-bottom: 8.33333%; } }
