.ipimgs-list{
    .pai{
        padding-bottom: (700 / 1920) * 100%;
    }
    @media screen and (max-width:1024px) {
        display: none;
    }
}

.ip-wrap{
    position: relative;
    @media screen and (max-width:1024px) {
        padding: 0 5%;
    }
}

.ix-pro-list{
    position: absolute;
    @include tblr;
    li{
        width: 25%;
        height: 100%;
        float: left;
    }
    a{
        display: block;
        padding: (316 / 480) * 100% 5% 0;
        height: 100%;
        @include b5;
        background: $black-8;
        text-align: center;
        color: $white;
        @include mt4;
        @media screen and (min-width:1025px) {
            &:hover{
                background: $black-6;
                padding-top: 38%;
                .line, .nowti, .more{
                    @include show;
                }
            }
        }
        @media screen and (min-width:1367px) {
            &:hover{
                padding-top: (232 / 480) * 100%;
            }
        }
    }
    .line, .nowti, .more{
        @include hide;
        @include mt4;
    }
    .line{
        display: block;
        margin: 20px auto 0;
        width: 30px;
        height: 1px;
        background: $white;
        background: $white-5;
    }
    .nowti{
        margin-top: 20px;
        font-size: 16px;
        line-height: 1.8;
    }
    .more{
        margin-top: 50px;
    }
    @media screen and (max-width:1366px) {
        a{
            padding-top: 62%;
        }
    }
    @media screen and (max-width:1024px) {
        position: static;
        margin-left: -30px;
        a{
            padding-top: (360px - 238px) / 2;
            margin-left: 30px;
            background: none;
            border: 1px solid $bc1;
            height: 360px;
            color: $fc2;
            box-shadow: 0 3px 6px rgba(0,0,0,.16);
        }
        .line, .nowti, .more{
            @include show;
        }
        li{
            width: 50%;
            margin-top: 30px;
        }
        .btn-more{
            background: $mc1;
            border-color: $mc1;
            color: $white;
        }
        .line{
            background: $bc1;
        }
    }
    @media screen and (max-width:861px) {
        .nowti{
            font-size: 14px;
        }
        .more{
            margin-top: 40px;
        }
        .btn-more-1{
            width: 120px;
            height: 40px;
            line-height: 38px;
            font-size: 14px;
        }
        a{
            padding-top: (300px - 200px) / 2;
            height: 300px;
        }
    }
    @media screen and (max-width:601px) {
        li{
            width: 100%;
            border-right: none;
            margin-top: 5vw;
        }
        a{
            height: auto;
            padding-top: (60 / 600) * 100vw;
            padding-bottom: (60 / 600) * 100vw;
        }
    }
}