.cta1{
    padding: 90px 0 100px;
    .contact-list{
        margin-top: 40px;
    }
    @media screen and (max-width:601px) {
        padding: (90 / 600) * 100vw 0 (100 / 600) * 100vw;
        .contact-list{
            margin-top: (40 / 600) * 100vw;
        }
    }
}

.move-en{
    position: fixed;
    z-index: -1;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -(280px / 2);
    line-height: 1;
    color: $hc4;
    font-size: 280px;
    white-space: nowrap;
    animation:cloudMove 20s linear infinite;
    @media screen and (max-width:1600px) {
        font-size: 224px;
        margin-top: -(224px / 2);
    }
    @media screen and (max-width:1366px) {
        font-size: 180px;
        margin-top: -(180px / 2);
    }
    @media screen and (max-width:1024px) {
        margin-top: 0;
        transform: translateY(-50%);
    }
    @media screen and (max-width:641px) {
        font-size: 144px;
    }
    @media screen and (max-width:481px) {
        font-size: 114px;
    }
}

#map{
    @media screen and (max-width:1024px) {
        height: 500px !important;
    }
    @media screen and (max-width:601px) {
        height: (500 / 600) * 100vw !important;
    }
}